body,
html {
  margin: 0;
}

/*<-------PÁGINA 1 NAVBAR------->*/

header * {
  top: 0;
  align-items: center;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
  background-color: #ffffff;
  color: black;
  text-transform: uppercase;
  padding-inline: 1em;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  z-index: 1000;
}

#logo {
  height: 50px;
  margin-right: 90%;
}

.enlaces-nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-left: 5%;
}

#unicode {
  margin-left: -10px;
  padding: 0;
  padding-bottom: 7px;
}

nav {
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: fixed;
  width: 100%;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  margin-left: -10px;
  position: relative;
  display: flex;
  align-items: center;
}

nav a:hover {
  color: #ff556e;
}

nav a:hover #unicode {
  color: #ff556e;
}

nav #unicode {
  margin-left: 0;
}

#extra {
  margin-right: 0;
  margin-left: -30px;
}

#menu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 65%;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submenu li {
  border-bottom: 1px solid #ddd; 

}

.submenu li:last-child {
  border-bottom: none;
}

.boton_nav {
  background-color: white;
  color: #ff556e;
  border-radius: 30px;
  border: 2px solid #ff556e;
  padding: 10px 20px;
  height: 50px;
  width: 200px;
  margin-right: 60px;
  text-transform: uppercase;
  font-weight: bold;
}

/*<-------BOTONES------->*/

.boton_download {
  background-color: #ff556e;
  color: white;
  border-radius: 30px;
  border: 2px solid #ff556e;
  padding: 10px 40px;
  height: 50px;
  width: 208px;
  text-transform: uppercase;
  font-weight: bold;
}


#boton_organize{
  display:grid;
  grid-template-columns: repeat(2, 30%);
  margin:2px;
  
}

/*<-------PÁGINA 1 SECCION 1------->*/

h1 {
  font-family: "Open Sans";
  font-size: 65px;
  font-stretch: 100%;
  font-display: swap;
  margin: 0;
}

#introduction {
  margin-top: 150px;
  padding: 50px 0;
  text-align: center;
}

#introduction p {
  margin: 30px auto;
  max-width: 52vw;
}

#phone {
  display: block;
  width: 60%;
  margin: auto;
}

.boton_cuadrado {
  background-color: #9a67e7;
  text-align: center;
  border: none;
  padding: 10px 10px;
  margin:6px;
  color:white;
  font-weight:bold;
}

.cuadrado_blanco {
  background-color: white;
  text-align: center;
  border: none;
  padding: 10px 10px;
  margin:6px;
  font-weight:bold;
  color:#777777;
}

.boton_reverse {
  color: black;
  border-radius: 30px;
  border: 2px solid black;
  padding: 10px 40px;
  height: 50px;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
}

/*<-------ICONOS PÁGINA 1------->*/

.icons_linea1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.icon_linea2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#descripcion_icono {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#descripcion_icono2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*<-------PÁGINA 2 SECCION 1------->*/

h2 {
  font-size: 50px;
}

#img_pag2_1 {
  width: 100%;
}

.contenedor_pagina2_1 {
  display: flex;
  width: 80vw;
  margin: 50px auto;
}

.columna1_1,
.columna1_2 {
  flex: 1;
  padding: 40px;
}

.columna1_2 p {
  margin-bottom: 10px;
}

/*<-------PÁGINA 2 SECCION 2------->*/

#img_pag2_2 {
  width: 100%;
}

#contenedor_pagina2_2 {
   background-color:#E8EFF6;
  padding:20px;
}

.contenedor_pagina2_2 {
  display: flex;
  width: 80vw;
  margin: 50px auto;
}

.columna2_1,
.columna2_2 {
  flex: 1;
  padding: 40px;
}

.columna2_2 p {
  margin-bottom: 10px;
}

#parrafos_tick{
  width:80%;
}

/*<-------FAVICONOS------->*/

.fa-brands.fa-apple {
  margin-right: 7px;
}

.fa-brands.fa-google-play {
  margin-right: 7px;
}

.fa-solid.fa-users {
  color: #aa7eec;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ebe7fa;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.fa-solid.fa-code {
  color: #19ca94;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #daf4ef;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.fa-solid.fa-gear {
  size: 10px;
  color: #ff556e;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f8e5ea;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.fa-solid.fa-comments {
  color: #ffb30f;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f8f1de;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.fa-solid.fa-rocket {
  color: #4fb9e8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e1f2fa;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.fa-regular.fa-square-check{
  color: #4ED3AB;
}

/*<-------FOOTER------->*/

footer {
  color: #999999;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

#contact,
#terms,
#other,
#redes {
  margin-bottom: 20px;
  flex: 1;
  text-align: left;
}

#copyright {
  flex: 100%;
  text-align: center;
}

#redes {
  display: flex;
  flex-direction: row;
  paddding: 35px;
}

#redes i {
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #999999;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 10px;
}
