body {
    background-color: #2B0945;
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
p{
    color:azure;
    font-family: KoHo;
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top:0;
    top: 0;
}

.botonReturn {
    align-self: flex-start;
    height: 7%;
    width: 7%;
}

i {
    padding: 0.5em;
    color: #FEC260;
    font-size: 40px;
    text-align: left;
}

.grid-container {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(4, 14%);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center; 
    text-align: center;
    padding: 1%;
    margin-top: -10px;
}

.grid-item {
    text-align: center;
    position: relative;

}

.full-width {
    grid-column: 2 / 4;
    padding: 0 20%;
}

.grid-item img {
    max-width: 100%;
    margin: auto;
    height: auto;
    display: block;
}

@media (max-width: 768px) {

    .grid-container {
        grid-template-columns: repeat(4, 18%) 22%;;
    }

    .full-width {
        grid-column: 5; /* Cambia grid-column a 5 para posicionarlo en la última columna */
        grid-row-start: 1;
        grid-row-end: span 2;
        padding: 0;
    }

    #bateria-5 {
        grid-column-start: 1;
    }
}
